<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spaces Test Suite">
  <test thread-count="6" name="Test">
    <classes>
      <class name="TestCases.LoginSuccessTest"/>
      <class name="TestCases.LoginFailureTest"/>
      <class name="TestCases.UpdateCustomerInfoTest"/>
      <class name="TestCases.ViewAgentTest"/>
      <class name="TestCases.ViewMerchantTest"/>
      <class name="TestCases.AddDebitCardTest"/>
      <class name="TestCases.AddFundTest"/>
      <class name="TestCases.ViewReferralCodeTest"/>
      <class name="TestCases.ViewTransactionTest"/>
       

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
