<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VCB Test Suite">
  <test thread-count="6" name="Test">
    <classes>
      <class name="TestCases.IssuerLoginTest"/>
      <class name="TestCases.AcquirerLoginTest"/>
      <class name="TestCases.AdminLoginTest"/>
      <class name="TestCases.SecondIssuerLoginTest"/>
      <class name="TestCases.CreateDisputeRegionTest"/>
      <class name="TestCases.DisputeCreationTest"/>
      <class name="TestCases.DisputeApprovalTest"/>
      <class name="TestCases.SecondDisputeCreationTest"/>
      <class name="TestCases.DisputeRejectionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
